//je définis une variable qui représente la couleurs principal de l'application
// comme ça, si le client veut changer la couleur, je modifie à un seul endroit


$color: #DFF0D8;
$color-alt:#468847;
$color-light: #DFF0D8;
$mainColor: #468847;

$font: 'Spartan', sans-serif;

$transition-fast: 0.2s;
$transition-slow: 1s;

// unité: rem
$gutter: 0.8;
